/* Add your existing styles here if you have any */

/* Sidebar Layout */
.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ensure sidebar takes full viewport height */
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Allows this container to grow and fill available space */
}

/* This class makes the main navigation links take up the available space, pushing the logout link down */
.main-nav-links {
    flex-grow: 1;
}

/* Ensure all sidebar icons have a consistent stroke width */
.sidebar .feather {
    stroke-width: 2;
}