<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/feather-icons"></script>

</head>
<body>
    <aside class="sidebar" id="sidebar">
        <div class="search">
            <i data-feather="search"></i>
            <h4>Search something</h4>
        </div>
        
        <div class="sidebar-links">
            <a href="#" class="active">
                <i data-feather="home"></i>
                <span>Predictor</span>
            </a>
            <a href="#" id="history">
                <i data-feather="bar-chart-2"></i>
                <span>History</span>
            </a>
            <a href="#">
                <i data-feather="user"></i>
                <span>Configuration</span>
            </a>
            <a href="#">
                <i data-feather="cpu"></i>
                <span>About AI</span>
            </a>
        </div>
        <div class="profile-section">
              <img src="https://i.pravatar.cc/40" alt="Profile-picture" class="profile-pic">
              <div class="profile-info">
                 <h4>Alex Johnson</h4>
                 <p>AI Engineer</p>
              </div>
        </div>
    </aside>

    <main class="main-content">
        <div class="card">
            <div class="card-header">
                <h1 class="card-title">AI Even/Odd Predictor</h1>
            </div>
            <form id="prediction-form" class="form-group" method="post" action="/predict">
                <div class="input-label">Enter a number of your choice</div>
                <div class="input-container">
                    <input type="number" id="numberInput" name="number" placeholder="Example: 3, 4, 5..." step="any" />
                </div>
                <div class="checkbox-container">
                    <input type="checkbox" name="allow_decimal" id="allow_decimal" value="true">
                    <label for="allow_decimal">Predict for decimal point number (For eg: 4.45)</label>
                </div>
                <div class="thin-line"></div>
                <button class="btn predict-btn" type="submit">Predict</button>
            </form>
            <div class="result-box hidden" id="result-box">
                    <span class="result-label">Result:</span>
                <div class="result-content">
                    <span class="result-text" id="result-text"></span>
                    <div class="loading-animation" id="loading-animation"></div>
                </div>
            </div>
        </div>
    </main>
    
    <script src="/js/main.js"></script>
    <script>
        feather.replace();
    </script>
</body>
</html>
