<html>
     <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>AI Predictor</title>
          <link rel="stylesheet" href="{{ url_for('static', path='login-signup.css') }}">
          <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
          <script src="https://unpkg.com/feather-icons"></script>
     </head>

     <body> 
          <h1>Sign In</h1>
          <div class="form-container">
               <form action="/" method="GET">
                    <div class="input-label">Full Name</div>
                    <div class="input-container">
                       <input type="input" id="name_signIn_input" placeholder="Ex: Jhon Doe"/>
                   </div>
                   
                   <div class="input-label">Email address</div> 
                    <div class="input-container">
                       <input type="input" id="email_signIn_input" placeholder="Ex: abc@gmai.com"/>
                   </div> 

                   <div class="input-label">Password</div>
                    <div class="input-container">
                       <input type="input" id="password_signIn_input" placeholder="Ex: sgertf343v"/>
                       <div class="form-small-text">Forgot your password? <a href="/forgot_password">Reset password now</a href><div>
                   </div>

                   <button class="btn" type="submit">Sign In</button>
                   <a href="/signup">Don't have any account?<span>Signup now</span></a>
                   
               </form>
          </div>
          <script src="/js/main.js"></script>
          <script>feather.replace() </script>
     </body>
</html>