<html>
     <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>AI Predictor</title>
          <link rel="stylesheet" href="{{ url_for('static', path='login-signup.css') }}">
          <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
          <script src="https://unpkg.com/feather-icons"></script>
     </head>

     <body> 
          <h1>Sign Up</h1>
          <div class="form-container">
               <form action="/" method="GET">
                    <div class="input-label">Full Name</div>
                    <div class="input-container">
                       <input type="input" id="name_signUp_input" placeholder="Ex: Jhon Doe"/>
                   </div>
                   
                   <div class="input-label">Email address</div> 
                    <div class="input-container">
                       <input type="input" id="email_signUp_input" placeholder="Ex: abc@gmai.com"/>
                   </div> 

                   <div class="input-label">Password</div>
                    <div class="input-container">
                       <input type="input" id="password_signUp_input" placeholder="Ex: sgertf343v"/>
                   </div>

                   <div class="input-label">Retype your Password</div>
                    <div class="input-container">
                       <input type="input" id="password_signUp_input" placeholder="Ex: sgertf343v"/>
                   </div>

                   <div class="input-label">Verify your email</div>
                    <div class="input-container">
                         <input type="input" id="email-Verify_signUp_input" placeholder="Ex: 353561"/>
                         <div class="form-small-text">Didn't recieve a verfication email? <button class="link-style-signup-email_verify" type="send">Resend email</button><div>
                    </div>
                         

                   <button class="btn" type="submit">Sign Up</button>
                   <a href="/login">Already have an account? <span>Sign In now</span></a>

               </form>
          </div>
          <script src="/js/main.js"></script>
          <script>feather.replace() </script>
     </body>
</html>